.contenedor {
    width: 900px;
    display: flex;
    margin:auto;
}
.contenedor2{
    width: 120px;
    display: flex;
    margin:1px;
    flex-wrap: wrap;
}
.encabezado{
    width: 900px;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid black;
}
#menu ul li{
    padding: 5px;
    margin-bottom: 4px;
    width: 100px;
    border: 1px  solid black;
    color: black;
    background-color: white;
    padding: 10px;
}
#menu ul{
    list-style-type: none ;
    margin: auto;
    padding: 15px;
}
#titulo{
    width: 900px;
}